package components

type TabProps struct {
	DefaultValue string
	Triggers 		 []string
}

templ Tabs (props TabProps) {
	// tab root {
		// tab list {  
			// tabstrigger
		// }
	// }
}


type TabContentProps struct {
	Value string
}

templ TabContent (props TabProps) {

}
